/*
Copyright (C) 2010,  European Gravitational Observatory.

This file is part of OSLogbook.

OSLogbook is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301  USA

This file was written by Gary Hemming <gary.hemming@ego-gw.it>.
*/

/* === img === */

img
{
	border: 0px;
}

img.outputImg
{
	position: relative;
	max-width: 80px;
	max-height: 60px;
	margin: 0 5px 0 0;
	border: 1px solid #CCC;
}

img.thumbnailImg
{
	width: 20px;
	height: 14px;
	border: 1px solid #CCC;
}
img.printer
{
	position: relative;
}
img.attention
{
	position: relative;
	top: 2px;
	margin: 0 5px 0 0;
}
img.helpBtn, img.helpBtnRight, img.helpBtnLeft, img.helpBtnDown
{
	position: relative;
	top: 2px;
	margin: 0 2px;
	cursor: pointer;
}
img.helpBtnRight
{
	float: right;
}
img.helpBtnLeft
{
	float: left;
}
img.helpBtnDown
{
	top: 4px;
}
img.helpImg
{
	border: 1px #000 solid;
}
img.greenSquareShadowed
{
	margin: 0 3px 0 0;
}
